.checkout {
    display: flex;
    width: inherit;
    min-width: 48rem;
    justify-content: space-evenly;
    padding: 20px;
    height: 100%;
}

.checkout__left {
    margin-right: 20px;
    margin-left: 10px;
    justify-content: space-evenly;
    width: 60%;
    min-width: 400px;
    min-height: 400px;
    background-color: white;
    padding: 10px;
}

.checkout__right {
    width: 25%;
    min-width: max-content;
    margin-right: 20px;
}

.checkout__title {
    /* margin-right: 10px; */
    padding: 10px;
    border-bottom: 1px solid darkgray;
}

.checkout_testCard {
    background-color: whitesmoke;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid darkgray;
}