.checkout {
    display: flex;
    width: inherit;
    /* min-width: 100%; */
    padding: 20px;
    height: max-content;
    min-height: 300px;
}

.checkout__left {
    margin-right: 20px;
    justify-content: space-evenly;
    width: 70%;
    min-width: 450px;
    background-color: white;
}

.checkout__right {
    width: 25%;
    min-width: max-content;
    margin-right: 20px;
}

.checkout__title {
    /* margin-right: 10px; */
    padding: 10px;
    border-bottom: 1px solid darkgray;
}

.checkout_testCard {
    background-color: whitesmoke;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid darkgray;
}