.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: flex-end;
    margin: 10px;
    padding: 15px;
    width: 100%;
    max-height: 400px;
    min-width: 120px;
    z-index: 1;
}

.product:hover {
    border: 1px solid;
    box-shadow: 1px 2px 15px 3px darkgray;
}

.product__info {
    height: 100px;
    margin-bottom: 18px;
}

.product__rating {
    display: flex;
}

.product__price {
    margin-top: 5px;
}

.product>img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product>button {
    background: #f0c14b;
    border: 1px solid;
    border-radius: 3px;
    margin-top: 10px;
    padding: 5px;
    border-color: #a88734 #9c7231 #846a29;
    color: #111;
}

.subtotal__splash {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    /* background: rgba(255, 255, 255, .2); */
    background: rgba(99, 63, 29, 0.829);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: .5s ease-out;
}

.product>button:hover {
    background: #fcb400;
    border: 1px solid;
    border-color: #bd8906 #9c7231 #846a29;
    /* padding: 6px; */
}