.header {
    display: flex;
    background-color: white;
    height: 60px;
    width: 100%;
    min-width: 50rem;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 100;
    white-space: nowrap;
}

.header__logo img {
    width: 100px;
    object-fit: contain;
    margin: 15px;
    margin-top: 18px;
}


/* .header__optionHover:hover {
    flex-direction: row;
    border: 1px;
    border: 1px solid #d49946;
    border-radius: 3px;
} */

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px
}

.header__searchSelect {
    height: 34px;
    padding: 5px;
    background-color: #f3f3f3;
    border-left: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.header__searchSelect:hover {
    background-color: #dadada;
    border-left-color: #dadada;
    border-top-color: #dadada;
    border-bottom-color: #dadada;
}

.header__searchInput {
    height: 13px;
    padding: 10px;
    width: 100%;
    border: none;
    border-top: 1px solid transparent;
    min-width: 100px;
    background: rgb(197, 197, 197);
}

.header__searchIcon {
    padding: 5px;
    height: 22px;
    width: 45px;
    background-color: #cd9042;
    border-left: 1px solid #c7852f;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-right: 5px;
}

.header__searchIcon:hover {
    background-color: #da9030;
    border: 1px solid #a86712;
}

.header__nav {
    display: flex;
    /* box-sizing: content-box; */
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}

.header__option:hover {
    border: 1px;
    border: 1px solid #d49946;
    border-radius: 3px;
}

.header_dropDown {
    border: none;
    outline: none;
}

.header__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.header__optionLineOne {
    font-size: 14px;
}

.header__optionLineTwo {
    font-size: 18px;
    font-weight: 800;
}


/* 
.cart__div {
    display: flex;
    justify-content: ;
} */