.header {
    display: flex;
    height: 60px;
    align-items: center;
    /* background-color: #131921; */
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo img {
    width: 100px;
    object-fit: contain;
    margin: 15px;
    margin-top: 18px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px
}

.header__searchSelect {
    height: 34px;
    padding: 5px;
    background-color: #f3f3f3;
    border-left: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.header__searchSelect:hover {
    background-color: #dadada;
    border-left-color: #dadada;
    border-top-color: #dadada;
    border-bottom-color: #dadada;
}

.header__searchInput {
    height: 13px;
    padding: 10px;
    width: 100%;
    border: none;
    border-top: 1px solid transparent;
    background: rgb(197, 197, 197);
}

.header__searchIcon {
    padding: 5px;
    height: 22px;
    width: 45px;
    background-color: #cd9042;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.header__optionLineOne {
    font-size: 14px;
}

.header__optionLineTwo {
    font-size: 18px;
    font-weight: 800;
}


/* 
.header__logo>img {
    /* width: 100px; 
} 
*/